:root {
  --background: #f0f0f0
  --color-title: gray;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.borde {
  border: 2px solid rgb(214, 136, 0);
}

.oculta {
  transform: translateY(-100%);
  
}

.casa-title {
  color: var(--color-title)
}

.gryffindor {
  --background: red;
  --color-title: #fff;
}
  
.hufflepuff {
  --background: rgb(255, 165, 0);
  --color-title: #f3dd18;
}
  
.slytherin {
  --background: green;
  --color-title: #144605;
}
  
.ravenclaw {
  --background: blue;
  --color-title: #590aeb;
}


header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: left;
  align-items: center;

  button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    z-index: 1;

    &:hover {
      background-color: rgb(158, 45, 0);
    }
  }

  nav {
    transition: all 0.1s ease-out;
    position: absolute;
    align-items: center;
    top: 0;
    background-color: #ffd39e;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 80px;
    justify-content: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

main {
  background-color: bisque;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 30px;

  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    justify-content: space-between;

    label {
      width: 20%;
      display: flex;
      flex-direction: column;
    }
  }
}
